@charset "UTF-8";
/* ========= Reset ========= */
* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  background-color: #e0e0e0;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

/* ========= Css Nav Menu ========= */
/* Opacidade na Barra de Menu */
.navbar-active {
  opacity: 0; }

.nav-drop {
  color: #00bfa5 !important;
  /* Cor texto de menu dropdown */ }

/* ========= Css Parallax Princpal ========= */
.btn-parallax {
  margin-top: 20px !important; }

.txt-parallax {
  margin-top: 300px !important; }

.icon-servico {
  color: #00bfa5 !important; }
  .icon-servico:hover {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(1.15);
    opacity: 0.8;
    -webkit-transition: 0.5s ease-in;
    cursor: pointer; }

.servico {
  margin-top: -65px !important; }

/* ========= Css Portfólio ========= */
.portfolio-link {
  color: #00bfa5 !important; }

/* ========= Css Parallax Link ========= */
.parallax-link {
  height: 200px !important; }

.txt-parallax-link {
  margin-top: 55px !important; }

.btn-back-home {
  color: #00bfa5 !important;
  bottom: 2% !important;
  margin-left: 96% !important; }

/* ========= Botão voltar para o topo da página ========= */
.btn-back-home:hover {
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(1.2);
  opacity: 0.5;
  -webkit-transition: 0.5s ease-in; }

.card-image {
  z-index: 25; }

.parallax-destaque {
  top: -55px !important; }

/*# sourceMappingURL=style.css.map */
